 * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
} */

.menu {
  float: left;
  width: 20%;
}

.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}

.list-form h4 {
  margin-bottom: 5px !important;
}

.semi-bold {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 22px;
}

.medium-semi-bold {
  font-weight: 500;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}

.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

.page-content {
}

.side-image {
  padding: 10px;
  margin-top: 5%;
}

.side-image img {
  width: 100%;
}

.text-section {
  padding: 10%;
  margin-top: 5%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.text-section p {
  font-size: 18px;
  padding: 14px;
}

.side-text {
  padding-top: 10px;
  color: black;
}

.center-align {
  text-align: center;
}

.enter_button {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  background-color: #a24dcc;
  font-size: 20px;
}

.enter_button:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.blue-btn {
  background-color: #1a237e;
}

.blue-text {
  color: #1a237e;
}

.yellow-btn {
  background-color: orange;
  display: none;
}

/* .logo img {
    height: 60px;
    margin-left: 2%;
} */

.btn-group-xs > .btn,
.btn-xs {
  text-transform: uppercase;
  padding: 3px 20px;
  font-size: 14px;
  border-radius: 3px;
  border-radius: 7px;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.input-text {
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  width: 12em;
  height: 2em;
}

.list-form {
  list-style-type: none;
}

.list-form li {
  padding-top: 10px;
}

.list-form li p {
  font-size: 16px;
}

.start-form {
  padding: 60px;
  font-family: "Quicksand", sans-serif;
}

.won-form {
  padding: 60px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.won-form h3 {
  color: orange;
  font-weight: 600;
}

.won-form .images {
  width: 100%;
}

.questian-form {
  font-family: "Quicksand", sans-serif;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.questian-form {
}

/*.donate-now {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}*/

/*.donate-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 100%;
  height: 50px;
  position: relative;
}*/

/*.donate-now label,
.donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
  height:100%;
}

/*.donate-now input[type="radio"]:checked + label,
.Checked + label {
  background: #5c6bc0;
}*/

/*.donate-now label {
  padding: 5px;
   border: 1px solid #CCC; 
  background-color: #f2f2f2;
  cursor: pointer;
  z-index: 90;
}*/

.donate-now label:hover {
  background: #ddd;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #1a237e;
}

/* .tab {
  display: none;
} */

#prevBtn,
#nextBtn {
  background-color: #1a237e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }

  .step {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  #prevBtn,
  #nextBtn {
    background-color: #1a237e;
    color: #ffffff;
    border: none;
    padding: 5px 12px;
    font-size: 15px;
    font-family: Raleway;
    cursor: pointer;
  }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .start-form {
    padding: 0;
  }

  #start-page .list-form h4 {
    font-size: 20px;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    font-size: 14px;
  }
}

@media all and (max-width: 30em) {
  .enter_button {
    display: block;
    margin: 0.4em auto;
  }
}



/*tfora styling*/
#question_2{
  display: none;
}
#question_3{
  display: none;
}
#question_4{
  display: none;
}
#question_5{
  display: none;
}
/*tfora styling ends