.nounderline {
    text-decoration: none !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat';
}

/* @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/lambola/Montserrat.woff2') format('woff2'),
        url('../fonts/lambola/Montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
.montserrat{
    font-family: 'Montserrat';
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

header,
section,
article,
aside,
nav,
footer,
address {
    display: block;
}

body {
    /*font-family: 'open_sansregular',Arial, Helvetica, sans-serif;*/
    font-family: 'Montserrat';
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #333;
    min-width: 320px;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.raleway {
    font-family: 'Raleway';
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

input,
textarea,
select {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

a {
    color: #333;

}

a:hover,
.submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: relative;
    font-size: 65px;
}

.spinner:before,
.spinner:after {
    content: "";
    position: relative;
    display: block;
}

.spinner:before {
    animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    width: 1em;
    height: 1em;
    background-color: rgba(26, 35, 126, 1);
}

.spinner:after {
    animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background-color: rgba(26, 35, 126, .5);
}

@keyframes spinner {
    50% {
        border-radius: 50%;
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(720deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(0.5);
        background-color: rgba(#000, 0.1);
    }
}

background-color: #fff;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* max-width:1200px; */
}


.counter-container {
    color: #333;
    text-align: center;
}

li.counter-item {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li.counter-item span {
    display: block;
    font-size: 4.5rem;
}

/*.register{
  display: block;
  padding: 1% 3%;
  background: red;
  border-radius: 10px;
}*/
.mb-10 {
    margin-bottom: 15%;
}

/* CUSTOME CSS */

header section.mobile-menu {
    display: none;
    background: #328ccb;
    /* background: rgb(42, 54, 60, 1); */
    height: 100vh;
    min-height: 20%;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 10
}

header section.mobile-menu nav {}

header section.mobile-menu nav ul {
    margin-bottom: 0;
}

header section.mobile-menu nav ul li {
    padding: 3% 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10%;
    background: rgba(0, 0, 0, 0.1)
}

header section.mobile-menu nav ul li:last-child {
    /* border-bottom: none; */
}

header section.mobile-menu nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    display: block;
}


header div.menu-icon {
    float: left;
    display: none;
}

header div.menu-icon .line {
    width: 28px;
    height: 2px;
    background-color: #4a57d2;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header div.menu-icon:hover {
    cursor: pointer;
}

header div.menu-icon.is-active .line:nth-child(2) {
    opacity: 0;
}

header div.menu-icon.is-active .line:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}

header div.menu-icon.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(120, 120, 120, .8);
    z-index: 2;
    display: none;
}

#home {
    /*min-height: 100vh;
  height: 100vh;*/

}

#home .header-li {
    line-height: 40px;
}

#home .header-group {
    margin-bottom: 0;
}


/* Loader form */
.popup-bg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popup-box {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}

.preloader .plc-path {
    stroke: #009688;
}

svg:not(:root) {
    overflow: hidden;
}

.plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
}

.preloader.pls-teal .plc-path {
    stroke: #009688;
}

.preloader.pls-gray .plc-path {
    stroke: #9e9e9e;
}

.preloader.pls-pink .plc-path {
    stroke: #e91e63;
}

.preloader.pls-purple .plc-path {
    stroke: #9c27b0;
}

.preloader.pls-white .plc-path {
    stroke: #fff;
}

.preloader {
    position: relative;
    margin: 0px auto;
    display: inline-block;
}

.preloader:not([class*="pl-"]) {
    width: 40px;
}

.preloader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.preloader.pl-xs {
    width: 20px;
}

.preloader.pl-sm {
    width: 30px;
}

.preloader.pl-lg {
    width: 50px;
}

.preloader.pl-xl {
    width: 80px;
}

.preloader.pl-xxl {
    width: 100px;
}

.preloader:not([class*="pls-"]) .plc-path {
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.preloader[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
}

.preloader.pls-red .plc-path {
    stroke: #f44336;
}

.preloader.pls-blue .plc-path {
    stroke: #2196f3;
}

.preloader.pls-green .plc-path {
    stroke: #4caf50;
}

.preloader.pls-yellow .plc-path {
    stroke: #ffeb3b;
}

.preloader.pls-bluegray .plc-path {
    stroke: #607d8b;
}

.preloader.pls-amber .plc-path {
    stroke: #ffc107;
}

html:not(.ismobile) .page-loader .preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pl-circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {

    100%,
    0% {
        stroke: #f44336;
    }

    40% {
        stroke: #2196f3;
    }

    66% {
        stroke: #4caf50;
    }

    80%,
    90% {
        stroke: #ffc107;
    }
}

/* End loader style */

#spotlight {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/profbg.jpg');
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -mozkit-background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4% 0;
}


.shadow {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.card {
    border: 0 !important;
}

a.button {
    font-size: 14px;
    padding: 1%;
    padding: 1.2% 2.5%;
    background: #4a57d2;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    text-decoration: none !important;
    font-family: 'Montserrat';
}

a.button.view-more {
    display: inline-block;
    padding: 1.5% 5.5%;
    margin: 0 auto;
    background: #2e378c;
    /* font-weight: normal !important; */
    border-radius: 6px;
    text-decoration: none !important;
    /* font-family: 'Montserrat'; */

}

a.button.view-more:hover {
    background: #2e378ced;
}

.fa-arrow-right:before {
    content: "\f061";
    font-size: 90%;
    padding-left: 40% !important;
}

#about {
    background: #000;
}

.bg-navy-pro {
    background: #546E7A !important;
}

#events {
    background: #000;
}

.about-card {
    padding: 4%;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.5)
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    visibility: visible;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    visibility: visible;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}


@-webkit-keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 3s;
    animation-delay: 1.5s;
}




.schedule {
    padding: 8% 0;
}

.schedule h2 {
    font-size: 52;
    font-weight: bold;
}

.align-center {
    align-items: center;
}

.icon_menu {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.day-head {
    background-color: #2E378D;
    padding: 4%;
    color: #fff;
}

.day-content {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.day-list {
    padding-left: 4%;
    padding-top: 2%;
}

.day-list:hover {
    background-color: rgba(0, 0, 0, .1);
}

span.line {
    display: block;
    height: 1px;
    width: 100%;
}

.pb-6 {
    padding-bottom: 6%;
}

.venue li a {
    color: #000;
    width: 100%;
    display: block;
}


.venue li:hover {
    background-color: #000;
    padding: 1% 3%;
}

.venue li:hover a {
    color: #fff;
}

.activetab {
    background-color: #000 !important;
    padding: 1%;

}

.venue li {
    padding: 1% 4%;
    background-color: #fff;
    margin-bottom: 2%;

}

.venue li.activetab a {
    color: #fff;
}


div.navbar ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

#spotlight_speaker .speaker_image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

#spotlight_speaker .speaker_image img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#spotlight_speaker {
    background-color: #F9F9F9;
    padding: 4%;
}

.speaker_details h3,
#spotlight_speaker h3 {
    font-size: 60px;
    color: #FF2D55;
    font-weight: bold;
}

.speakers-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.image_container {
    display: inline-block;
}

#gallery a:hover {
    opacity: 1;
}

#gallery div img:hover {
    transform: translateY(-10px);
    transition: transform 500ms ease;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
}

#gallery div img {
    transition: transform 500ms ease;
}

#pastguests .container .slider-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden;

}

#pastguests .container .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#speakers .speaker_image {
    height: 100px;
    width: 100px;
    display: inline-block;
    overflow: hidden;
}

#speakers .speaker_image img {
    display: block;
    width: 100%;
}

#speakers .white {
    background-color: #fff;
}

#speakers .speaker-container {
    /*width: 32%;*/
    padding: 12px;
    transition: .2s;
}

#speakers .speaker-container:hover {
    transform: scale(1.02);
    transition: .2s;
    opacity: 1;
}

#speakers .speaker-container h5 {
    color: #FF2D55;
    font-weight: bold;
}

#speakers .speaker-container h6 {
    font-size: 15px;
    color: #000;
}

.next-news {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    padding: 2%;
}



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* line-height: 40px; */
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }

    .similar {
        margin-top: 9%;
        /* margin-bottom: -2%; */
        padding-bottom: 7%;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.youtube:hover {
    background-color: #F30106;
}



#registration {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 1)), url('../images/regbg04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*min-height: 100%;*/
    padding: 5% 0;
    margin: 0 auto;
}

#registration.volunteer-reg {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 1)), url('../images/regbg04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*min-height: 100%;*/
    padding: 5% 0;
    margin: 0 auto;
}

.form-container h2 {
    /* font-weight: bold; */
    font-size: 28px;
    margin-bottom: 3%;
    text-align: center;
    color: #fff;
}

.form-container {
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);
    padding: 1%;
}

.form-container label {
    color: #fff;
    font-weight: bold;
}

/*.reg-form {
    padding: 12% 12% 6% 12%;
}*/

.input-group label,
select {
    background-color: #fff !important;
    font-weight: bold;
    color: #999999;

}

.form-line {
    height: .5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5% 0;
}

.age-gender-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.age {
    width: 30%;
}

.age input {
    font-family: 'Montserrat';
    color: #999999;
    height: 50px;
    border: none;
    border-radius: 10px !important;
    box-shadow: 0 1px 6px rgba(236, 64, 122, .3);
}

label.input-group-text{
    font-family: 'Montserrat';
}

div.gender {
    display: flex;
    align-items: center;

}

.gender b {
    color: #7F868D;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 15px;
}

input[type=text] {
    color: #999999;
    font-family: 'Montserrat';
    height: 50px;
    border: none;
    border-radius: 10px !important;
    box-shadow: 0 1px 6px rgba(236, 64, 122, .3);
}

input[type=number] {
    color: #999999;
    font-family: 'Montserrat';
    height: 50px;
    border: none;
    border-radius: 10px !important;
    box-shadow: 0 1px 6px rgba(236, 64, 122, .3);
}

textarea {
    color: #999999;
    font-family: 'Montserrat';
    height: 50px;
    border: none;
    border-radius: 10px !important;
    box-shadow: 0 1px 6px rgba(236, 64, 122, .3);
}

label{

    font-family: 'Montserrat';
}

ul#id_gender {
    display: flex;
}

div.age-gender {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


div.submit {
    display: flex;
    justify-content: center;
}


/* ******************************* *****************************************/
span.male-switch,
span.female-switch {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin-top: 2px;
}

.switch-gender {
    position: relative;
    float: left;
    height: 30px;
    width: 60px;
    margin: 0 10px;
    background: rgba(236, 64, 122, .5);
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch-label {
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
    /* Note: left: 50% doesn't transition in WebKit */
    left: 31px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background: #FFF;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

/* ***************************************************************** */

div.car {
    width: 35%;
    margin: 0 auto;
    background-color: #fff;
    padding: 3%;
    border-radius: 10px;
}

div.car label {
    color: #000;
    font-weight: bold;
}






@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.single-welcome-post {
    position: relative;
    z-index: 1;
}

.single-welcome-post::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    z-index: 5;
}

.single-welcome-post .welcome-post-content {
    position: absolute;
    z-index: 100;
    left: 50px;
    bottom: 50px;
    right: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-post .welcome-post-content {
        left: 20px;
        bottom: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .single-welcome-post .welcome-post-content {
        left: 15px;
        bottom: 15px;
        right: 15px;
    }
}

.single-welcome-post.style-2 {
    height: 645px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-post.style-2 {
        height: 575px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-post.style-2 {
        height: 500px;
    }
}

@media only screen and (max-width: 767px) {
    .single-welcome-post.style-2 {
        height: 350px;
    }
}

.hero-area {
    position: relative;
    z-index: 1;
    background-color: #edf1f4;
    padding: 5px;
}

.hero-area .hero-single-section {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .hero-area .hero-single-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.hero-area .item1 {
    height: 700px;
    margin: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .item1 {
        height: 600px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .item1 {
        height: 500px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .item1 {
        height: 350px;
    }
}

.hero-area .item2 {
    height: 340px;
    margin: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .item2 {
        height: 290px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .item2 {
        height: 240px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .item2 {
        height: 200px;
    }
}

.hero-area .item3 {
    height: 350px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    width: calc(50% - 10px);
    margin: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .item3 {
        height: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .item3 {
        height: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .item3 {
        height: 200px;
    }
}

.hero-area .item4 {
    height: 350px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    width: calc(50% - 10px);
    margin: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .item4 {
        height: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .item4 {
        height: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .item4 {
        height: 200px;
    }
}

.video-play-btn {
    position: absolute;
    width: 96px;
    height: 96px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    text-align: center;
    line-height: 96px;
    color: #ffffff;
    font-size: 30px;
}

.video-play-btn:hover,
.video-play-btn:focus {
    color: #ffffff;
    font-size: 30px;
    background-color: #ff1662;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.video-play-btn.style2 {
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
}

.video-play-btn.style3 {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}

.single-blog-post {
    position: relative;
    z-index: 1;
}

.single-blog-post .blog-thumb {
    position: relative;
    z-index: 1;
}

.single-blog-post .blog-thumb img {
    width: 100%;
}

.single-blog-post .blog-content .post-tag {
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.single-blog-post .blog-content .post-tag:hover,
.single-blog-post .blog-content .post-tag:focus {
    color: #ff1662;
}

@media only screen and (max-width: 767px) {
    .single-blog-post .blog-content .post-tag {
        font-size: 10px;
    }
}

.single-blog-post .blog-content .post-title {
    font-weight: 600;
    font-size: 30px;
    display: block;
    color: #282828;
    margin-bottom: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post .blog-content .post-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post .blog-content .post-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post .blog-content .post-title {
        font-size: 16px;
    }
}

.single-blog-post .blog-content .post-title:hover,
.single-blog-post .blog-content .post-title:focus {
    color: #ff1662;
}

.single-blog-post .blog-content .post-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.single-blog-post .blog-content .post-meta a {
    color: #6a6a6a;
    margin-right: 15px;
    font-size: 11px;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post .blog-content .post-meta a {
        font-size: 9px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post .blog-content .post-meta a {
        font-size: 8px;
        margin-right: 5px;
    }
}

.single-blog-post .blog-content .post-meta a img {
    margin-right: 10px;
}

.single-blog-post .blog-content .post-meta a:last-child {
    margin-right: 0;
}

.single-blog-post .blog-content .post-meta a:hover,
.single-blog-post .blog-content .post-meta a:focus {
    color: #ff1662;
}

.single-blog-post.white .blog-content .post-title,
.single-blog-post.white .blog-content .post-tag,
.single-blog-post.white .blog-content .post-meta a {
    color: #ffffff;
}

.single-blog-post.white .blog-content .post-title:hover,
.single-blog-post.white .blog-content .post-title:focus,
.single-blog-post.white .blog-content .post-tag:hover,
.single-blog-post.white .blog-content .post-tag:focus,
.single-blog-post.white .blog-content .post-meta a:hover,
.single-blog-post.white .blog-content .post-meta a:focus {
    color: #ff1662;
}

.single-blog-post.style2 .blog-content .post-title {
    font-size: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style2 .blog-content .post-title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post.style2 .blog-content .post-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style2 .blog-content .post-title {
        font-size: 18px;
    }
}

.single-blog-post.style2 .blog-content .post-meta a {
    font-size: 11px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style2 .blog-content .post-meta a {
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post.style2 .blog-content .post-meta a {
        font-size: 9px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style2 .blog-content .post-meta a {
        font-size: 9px;
    }
}

.single-blog-post.style3 .blog-content .post-title {
    font-size: 18px;
}

.single-blog-post.style3 .blog-content .post-meta a {
    font-size: 11px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style3 .blog-content .post-meta a {
        font-size: 10px;
    }
}

.single-blog-post.style4 .blog-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    padding-right: 15px;
}

.single-blog-post.style4 .blog-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

.single-blog-post.style4 .blog-content .post-tag {
    font-size: 10px;
}

.single-blog-post.style4 .blog-content .post-title {
    font-size: 16px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style4 .blog-content .post-title {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style4 .blog-content .post-title {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-blog-post.style4 .blog-content .post-title {
        font-size: 16px;
    }
}

.single-blog-post.style4 .blog-content .post-meta a {
    font-size: 11px;
}


@media all and (max-width: 360px) {
    .gender {
        margin-top: 1rem;
    }
}

/*================RESPONSIVE SCREEN CUSTOMISE================*/

@media all and (max-width: 1200px) {
    #home .header-li {
        line-height: 36px;
    }

}

@media all and (max-width: 1024px) {
    .mb-10 {
        margin-bottom: 7%;
    }

    .container {
        max-width: 880px;
    }

    #pastguests .container .swiper-slide {
        height: 80%;
    }

    .envent-card {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo img {
        width: 130px;
    }

    #spotlight h1 {
        font-size: 35px;
    }

    #spotlight h1 {
        font-size: 30px;
    }
    #count-down h1{
        font-size: 30px;
    }

    li.counter-item span {
        display: block;
        font-size: 3.5rem;
    }

    .swiper-slide {
        height: 70%;
    }

    .pb-5,
    .py-5 {
        padding-bottom: 2rem !important;

    }

    .container {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .speaker_details h3,
    #spotlight_speaker h3 {
        font-size: 48px;
    }
}

@media all and (max-width: 900px) {
    header div.menu-icon {
        display: block;
        padding: 2% 2%;
    }

    .header-group {
        display: none !important;
    }
}

@media all and (max-width: 795px) {
    #count-down ul li span {
        font-size: 2rem;
    }

    #spotlight {
        padding: 7% 0 1px;
    }

    #home .container {
        padding-right: 0px;
    }

    /* header div.menu-icon {
        display: block;
        padding: 2% 2%;
    }

    .header-group {
        display: none !important;
    } */

    .site-footer .col-xs-6 {
        text-align: center;
    }

    .speaker_details h3,
    #spotlight_speaker h3 {
        font-size: 38px;
    }
}

@media all and (max-width: 680px) {

    .card-body p,
    a.button.view-more {
        font-size: 14px;

    }
}



@media all and (max-width: 560px) {
    #spotlight h1 {
        font-size: 22px;
    }
     #count-down h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 28px;
    }

    #about ul h2 {
        font-size: 20px;
    }


}

@media all and (max-width: 480px) {
    #spotlight h1 {
        margin-top: 3%;
        /*margin-bottom: 2rem !important;*/

    }



    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    h4 {
        font-size: 20px;
    }

    a.button {
        font-size: 14px;
    }

    /*#spotlight div h1 {
        margin-top: 3%;
        margin-bottom: 0rem !important;

    }*/

    li.counter-item {
        display: inline-block;
        font-size: unset;
    }

    #pastguests {
        padding-top: 1rem !important;
    }

    #pastguests .container .swiper-slide {
        height: 70%;
    }

    .swiper-container {
        margin: 0 auto;
    }

    a.button {
        padding: 2.2% 5%;
        background: #4a57d2;
        border-radius: 30px;
        text-decoration: none !important;
        /* font-family: 'Montserrat'; */
    }

    div.navbar ul {
        justify-content: space-evenly;
    }

    div.navbar ul li {
        margin-bottom: 3%
    }

    .speaker_details h3,
    #spotlight_speaker h3 {
        font-size: 30px;
    }

}

@media all and (max-width: 360px) {
    #spotlight h1 {
        font-size: 20px;
    }
     #count-down h1 {
        font-size: 20px;
    }

    #about .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    #pastguests .swiper-container {
        width: 100%;
        height: 250px;
        margin: 20px auto;
    }

    .swiper-slide {
        height: 100%;
    }

    li.counter-item span {
        display: block;
        font-size: 2.5rem;
    }

    .speaker_details h3,
    #spotlight_speaker h3 {
        font-size: 28px;
    }
}

@media all and (max-width: 320px) {
    #spotlight h1 {
        font-size: 19px;
    }
      #count-down h1 {
        font-size: 16px;
    }
    

    h2 {
        font-size: 18;
    }

    p {
        font-size: 14px;
    }

    h4 {
        font-size: 17px;
    }

    a.button {
        font-size: 13px;
    }

    #count-down ul li span {
        font-size: 22px;
    }
}



.owl-container {
    display: flex;
    align-items: center;
}

/*slider past guest*/
.owl-carousel .item {}

.btns {
    display: table;
    margin: 30px auto;
}

.customNextBtn,
.customPreviousBtn {
    float: right;
    background: #2d9070;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

/*slider past guest ends here*/


#location {
    padding: 0 !important;
    margin: 0 !important;
}

.venuebox {
    display: none;
}

