/* =============
   Print css
============= */

@media print {
  .page-title-box,.topbar-left,.breadcrumb,.page-title,.footer,.topbar {
    display: none;
    margin: 0;
    padding: 0;
  }

  .content {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0 !important;
    margin-top: 0;
  }
  .card-box,body {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
}